body{
    margin: 0;
}

nav{
    background-color: black;
    padding: 0;

    height: 100px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    color: white;

    text-align: center;
    padding: 5px;
}

nav ul li:hover{
    transition: 0.5s;
    background-color: lightgrey;

    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main button{
    width: 30%;
    margin: 10px;
}

#clasificacion{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    width: 80%;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

/* Botoncito */
#generarClasificacion{
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 1%;

    transition: 0.5s;
}

/* Botoncito */
#generarClasificacion:hover{
    transition: 0.5s;

    padding: 1.5%;
}

/* Cambia el section donde se encuentran las cards */
#equipos{
    padding-top: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Cambia los estilos de las cards */
#equipos div{
    border: 1px solid black;
    margin: 10px;
    width: 27%;
    height: 200px;

    transition: 0.7s;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Chat GPT */
    position: relative;
    overflow: hidden;
}

#equipos div:hover{
    transition: 0.7s;
    height: 220px;
    width: 30%;
}

#equipos div:hover .infoEquipos{
    opacity: 1;
    transform: translateY(0%);
}

.infoEquipos{
    opacity: 0;

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: larger;

    transition: 0.5s;

    /* Chat GPT */
    position: absolute;
    bottom: 0;
    margin: 0;

    transition: transform 0.5s ease-out;
    transform: translateY(100%);

    color: white;
}

.infoEquipos:hover{
    opacity: 1;

    text-shadow: black 0px 0px 4px;

    backdrop-filter: brightness(0.5);

    color: white;

    transition: 0.5s;
}

#AlfaRomeo{
    background-image: url(../img/AlfaRomeo.jpg);
}

#Alphatauri{
    background-image: url(../img/Alphatauri.jpg);
}

#Alpine{
    background-image: url(../img/alpine.png);
}

#AstonMartin{
    background-image: url(../img/astonmartin.jpg);
}

#Ferrari{
    background-image: url(../img/ferrari.jfif);
}

#Haas{
    background-image: url(../img/haas.jpg);
}

#Mclaren{
    background-image: url(../img/mclaren.jfif);
}

#Mercedes{
    background-image: url(../img/mercedes.jfif);
}

#RedBull{
    background-image: url(../img/redbull.png);
}

#Williams{
    background-image: url(../img/williams.png);
}