html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    background-color: darkblue;
    padding: 0;

    height: 100px;

    position: fixed;
    width: 100%;

    z-index: 2;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    margin: 0;
    padding: 0;
}

nav img {
    height: 100px;
}

#userImg{
    height: auto;
    max-width: 50px;
}

nav ul li {
    display: inline-block;
    color: white;

    font-size: 20px;

    text-align: center;
    padding: 8px;

    border-radius: 20px;

    transition: 0.5s;
}

nav ul a li:hover {
    transition: .5s;
    backdrop-filter: brightness(1.5);
}

nav ul a {
    transition: all 0.5s ease;
}

#menuUsuario {
    position: relative;
    display: inline-block;

    display: flex;
    flex-direction: row;
}

#menuUsuario:hover{
    transition: .5s;
    backdrop-filter: brightness(1.5);
    cursor: pointer;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.submenu.visible{
    display: block;
}

#menu button{
    transition: .5s;
    border: 0px;
    background-color: rgb(21, 21, 21);
    color: white;
    border-radius: 20px;
    padding: 7px;
    font-size: 70%;
}

#menu button:hover{
    transition: .5s;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

#usuario {
    border: inherit;
    color: inherit;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main button {
    width: 30%;
    margin: 10px;
}

main section:first-child {
    padding-top: 100px;
}

#noticias {
    width: 100%;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.noticia {
    border: 2px solid black;

    width: 80%;

    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.noticia:hover {
    border: 5px solid black;
    cursor: pointer;
}

#noticias div img {
    width: 25%;
    height: 80%;

    padding: 5px;
}

#noticias div h2 {
    width: 100%;
    margin: 0;
    margin-top: 5px;
}

.info {
    flex-direction: column;

    text-align: center;

    display: flex;
    justify-content: center;
}

.info h2 {
    font-size: 30px;
}

.info p {
    font-size: 20px;
}

#clasificacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    flex-direction: column;
}

#cambiarClasificacion {

    padding: 5px;

    transition: .5s;
    border: 0;
    border-radius: 10px;

    background-color: darkblue;
    color: white;

    font-size: 95%;
}

#cambiarClasificacion:hover {

    cursor: pointer;
    scale: 1.1;

    transition: .5s;
}

#tablaClasificacionEquipos {
    display: none;
}

table {
    width: 80%;

    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    text-align: center;
}

tbody tr:nth-child(2n - 1) {
    background-color: blue;
    color: white;
}

tbody tr:nth-child(2n) {
    background-color: lightblue;
}

td {
    text-align: center;

    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (max-width:1000px) {
    /* Cambia el section donde se encuentran las cards */

    thead {
        font-size: 20px;
    }

    tbody {
        font-size: 18px;
    }

    #equipos {
        padding-top: 20px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        z-index: 1;
    }

    /* Cambia los estilos de las cards */
    #equipos div {
        border: 1px solid black;
        margin: 10px;
        width: 27%;
        height: 200px;

        transition: 0.7s;

        background-position: center;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        /* Chat GPT */
        position: relative;
        overflow: hidden;
    }

    #equipos div:hover {
        transition: 0.7s;
        scale: 1.1;
    }
}

@media screen and (min-width:1000px) {
    /* Cambia el section donde se encuentran las cards */

    thead {
        font-size: 27px;
    }

    tbody {
        font-size: 20px;
    }

    #equipos {
        padding-top: 20px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        z-index: 1;
    }

    /* Cambia los estilos de las cards */
    #equipos div {
        border: 1px solid black;
        margin: 10px;
        width: 20%;
        height: 250px;

        transition: 0.7s;

        background-position: center;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        /* Chat GPT */
        position: relative;
        overflow: hidden;
    }

    #equipos div:hover {
        transition: 0.7s;
        scale: 1.1;
    }
}

#equipos div:hover .infoEquipos {
    opacity: 1;
    transform: translateY(0%);
}

.infoEquipos {
    opacity: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: larger;

    transition: 0.5s;

    position: absolute;
    bottom: 0;
    margin: 0;

    transition: transform 0.5s ease-out;
    transform: translateY(100%);

    color: white;
}

.infoEquipos:hover {
    opacity: 1;

    text-shadow: black 0px 0px 4px;

    backdrop-filter: brightness(0.5);

    color: white;

    transition: 0.5s;

    cursor: hand;
}

#AlfaRomeo {
    background-image: url(../img/AlfaRomeo.jpg);
}

#Alphatauri {
    background-image: url(../img/Alphatauri.jpg);
}

#Alpine {
    background-image: url(../img/alpine.jpg);
}

#AstonMartin {
    background-image: url(../img/astonmartin.jpg);
}

#Ferrari {
    background-image: url(../img/ferrari.jpg);
}

#Haas {
    background-image: url(../img/haas.jpg);
}

#McLaren {
    background-image: url(../img/mclaren.jpg);
}

#Mercedes {
    background-image: url(../img/mercedes.jpg);
}

#RedBull {
    background-image: url(../img/redbull.jpg);
}

#Williams {
    background-image: url(../img/williams.jpg);
}

footer {
    background-color: darkblue;
    color: white;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer div {
    text-align: center;

    width: 30%;
}

footer a {
    text-decoration: none;

    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p:hover {
    cursor: pointer;
}

#rrss {
    padding: 5px;

    display: flex;
    flex-direction: column;

    display: flex;
    align-items: center;

    justify-content: space-evenly;
}

@media screen and (max-width:1000px) {
    #rrss img {
        width: 10%;
    }
}

@media screen and (min-width:1000px) {
    #rrss img {
        width: 7%;
    }
}

#rrss img {
    padding: 5px;

    filter: invert(1);

    transition: 0.5s;
}

#rrss img:hover {
    scale: 1.1;

    cursor: pointer;
}

#copyright {
    width: 100%;
}