
body{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

form{
    font-size: large;
    border: 1px solid black;
    width: 60%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
    margin-bottom: 20px;
    background-color: gainsboro;

    flex-direction: column;
}

.peticion{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

#requisitos{
    text-align: right;
    color: gray;
    width: 100%;
    margin-top: -5px;
    font-size: smaller;
}

section{
    width: 100%;
    text-align: center;
    margin: 60px;

    padding-bottom: 15px;
}

h2{
    text-align: center;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form p{
    text-align: left;
    width: 80%;
    margin: 15px;
}

input{
    margin-left: 20px;
}

nav{
    background-color: darkblue;
    padding: 0;

    height: 100px;

    position: fixed;
    width: 100%;

    z-index: 2;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav img{
    height: 100px;
}

nav ul li{
    display: inline-block;
    color: white;

    font-size: 20px;

    text-align: center;
    padding: 5px;

    transition: 0.5s;

    border-radius: 20px;
}

nav ul a li:hover{
    transition: 0.5s;
    backdrop-filter: brightness(1.5);
}

nav ul a{
    transition: all 0.5s ease;
}

main{
    display: flex;
    flex-direction: column;
}

form div{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
}

form button{
    margin-bottom: 10px;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}

form div input{
    padding: 5px;

    border: none;

    background-color: rgba(0, 0, 0, 0);

    width: 100%;

    height: 100%;
}

form section{
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.inputInvalido{
    color: red;
    background-color: rgba(0, 0, 0, 0);
}

.inputValido{
    color: darkgreen;
    background-color: rgba(0, 0, 0, 0);
}

button{

    border: none;

    margin-top: 10px;
    padding: 12px;

    border-radius: 12px;

}

button:enabled{

    background-color:darkblue;
    
    color: white;

    transition: .5s;
    
}

button:enabled:hover{
    transition: .5s;
    background-color: rgb(0, 0, 187);
    scale: 1.1;
    cursor: pointer;
}

button:disabled{
    background-color: grey;
}

button:disabled:hover{
    cursor: not-allowed;
}

button[type="button"]{
    padding: 5px;

    background-color: rgba(0, 0, 0, 0);

    margin-left: 4px;
}

button[type="button"]:hover{
    transition: .5s;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0);
}

#ojoVisible{
    max-height: 29px;
}

#visibleContra{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: right;
}

#visibleContraCopia{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: right;
}

#ojoVisibleCopia{
    max-height: 29px;
}

#mensajeContra{
    color: red;
    margin: 10px;

    text-align: center;
}

#mensajeNombre{
    color: red;
    margin: 10px;

    text-align: center;

    padding-bottom: 10px;
}

input:focus{
    outline: none;
}

.divOjo{

    padding-right: 10px;

    background-color: antiquewhite;

    border: 1px solid black;

    border-radius: 20px;

    width: 250px;
}

div p{
    text-align: center;
}

input[name="nombreR"]{

    padding: 10px;

    background-color: antiquewhite;

    border-radius: 20px;

}

#botonEnviar{
    width: 20%;

    align-self: center;
}

#ultimo{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding-bottom: 30px;
}